<%- include('partials/header'); -%>

  <div class="container">
    <div class="signup-wrapper">
      <form id="signup-form" method="POST" class="signup-form">
        <h2 class="signup-title">Sign Up</h2>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" class="form-control" required>
          <div id="email-error" class="error-message"></div>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" class="form-control" required>
          <div id="password-error" class="error-message"></div>

          <button type="submit" class="btn-submit">Sign Up</button>
          <p class="login-link">Already have an account? <a href="/login">Login</a></p>
      </form>

      <div id="message" class="message"></div>
    </div>
  </div>

  <%- include('partials/footer'); -%>

    <script>
      document.getElementById('signup-form').addEventListener('submit', function (event) {
        event.preventDefault();
        document.getElementById('email-error').innerHTML = "";
        document.getElementById('password-error').innerHTML = ""

        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;

        document.getElementById('email-error').innerHTML = '';
        document.getElementById('password-error').innerHTML = '';
        const messageDiv = document.getElementById('message');
        messageDiv.innerHTML = '';

        fetch('/signup', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ email: email, password: password }),
        })
          .then(response => response.json())
          .then(data => {
            if (data._id) {
              location.assign('/')
            }
            else {
              if (data.email) {
                document.getElementById('email-error').innerHTML = data.email;
              }
              if (data.password) {
                document.getElementById('password-error').innerHTML = data.password;
              }
            }
          })
          .catch((error) => {
            messageDiv.innerHTML = `<p class="error-message">An error occurred: ${error.message}</p>`;
            messageDiv.classList.add('error');
          });
      });
    </script>

    <style>
      .error-message {
        color: red;
        font-size: 0.875em;
        margin-top: 5px;
      }

      .success-message {
        color: green;
        background-color: #e6f7e6;
        padding: 10px;
        border: 1px solid green;
        margin-top: 10px;
      }

      .error-message,
      .success-message {
        margin-top: 10px;
        padding: 10px;
        border-radius: 5px;
      }

      .success,
      .error {
        display: block;
      }
    </style>